@import url("https://fonts.googleapis.com/css2?family=Mochiy+Pop+P+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=PT+Sans&display=swap");
/* B3CDD1 6D6A5F 2B5778 */

body {
  font-family: "Mochiy Pop P One", sans-serif;
  background-color: #6d6a5f;
}
/* heading */
header {
  text-align: center;
}
header h1 {
  font-size: 300%;
  color: #f99b77;
}
header p {
  color: #f99b77;
}
span {
  color: #fbb89d;
}

/* category list layout */
.category-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  list-style: none;
  padding-left: 0;
  justify-content: center;
}

/* main joke area */
.main-area {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.joke-zone {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: auto;
  width: 700px;
  margin: 0;
  padding: 10px 50px;
  font-family: "PT Sans", sans-serif;
  font-weight: bold;
  color: #110d0e;
  background-color: #edebe9;
  line-height: 2em;
  border: 1px solid black;
}
#category-title {
  color: #f99b77;
}

/* footer navigation */
.next-prev {
  display: flex;
  flex-direction: row;
  list-style: none;
  justify-content: center;
}
.next-prev li {
  padding: 1em;
}

/* category button design */
button {
  height: 30px;
  width: auto;
  background-color: #fbb89d;
  font-size: larger;
  border-color: #6d6a5f;
  border-top: 0;
  border-bottom: 0;
  border-right: 0;
  margin-bottom: 10px;
  color: #6d6a5f;
}
button:hover {
  background-color: #f99b77;
  font-weight: bolder;
}
.footer-nav button {
  border: solid 1px #110d0e;
}
.category {
  margin: 0px;
}
