/* heading */
header {
  text-align: center;
}
header h1 {
  font-size: 300%;
}

/* category buttons */
.nav-btns {
  border: 3px solid red;
}
.category-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  list-style: none;
  padding-left: 0;
  justify-content: center;
}
.category-list li {
  padding: 0.5em;
}

/* main joke area */
.main-area {
  display: flex;
  border: 3px solid blue;
  justify-content: center;
}
.joke-zone {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: 3px solid black;
  height: auto;
  width: 700px;
  margin: 0;
  padding: 10px;
  background-color: whitesmoke;
}

/* footer navigation */
.footer-nav {
  border: 3px solid green;
}
.next-prev {
  display: flex;
  flex-direction: row;
  list-style: none;
  justify-content: center;
}
.next-prev li {
  padding: 1em;
}
